<div class="container">
    <div class="row">
        <div class="col-sm 4">
            <div class="card" style="width: 18rem;">
            <img src="{{car.picture}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{car.make}} {{car.model}} </h5>
                <p class="card-text">{{car.pricePerWeek}}/week </p>
                <p class="card-text">{{car.pricePerHour}}/hour </p>
                <a href="/contactOwner/{{car.owner}}" class="btn btn-primary">Contact Owner</a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <form action="/chargeRenter/{{budjet._id}}" method="POST">
            <div class="form-group">
                <label for="hour" style="margin-bottom: 10px;margin-top:10px;">Your total is ${{budjet.total}} </label>
                <div class="form-group">
                </div>
            </div>
            <script 
            src="https://checkout.stripe.com/checkout.js"
            data-key="pk_test_51NhbIOSFi9CyrYXQeXVbe6IGzNHW49hykcyE9TfPAHe6nBvDsxFBmIFcwmgJLw8ZQqA2Ab2HxFDf7C3UPcNQS8py00NQHsIhiG"               
            class="stripe-button"
            data-amount="{{stripeTotal}}"
            data-name="Lokesh Car Rental Services"
            data-description="${{budjet.total}} for renting a {{car.make}} {{car.model}} "
            data-image="/image/images.png"
            ></script> 
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
