<div class="container">
    <div class="card" style="width: 18rem;">
  <img src="{{owner.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{owner.firstname}} {{owner.lastname}}</h5>
    <p>Contact number: {{owner.phoneNumber}}</p>
    <p>Email: {{owner.email}}</p>
  </div>
</div>
</div>